<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- where are we putting the file logs? -->
	<variable name="directory" value="${aspnet-appbasepath}/logs/${date:format=yyyy-MM}"/>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="errorFile" fileName="${directory}\nlog-error-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}| ${exception:format=tostring}" />

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target xsi:type="File" name="hallpassFile" fileName="${directory}\nlog-hallpass-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|ip: ${aspnet-request-ip}|agent: ${aspnet-request-useragent}|source: ${callsite} - line #${callsite-linenumber}|${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All error and above logs, including from Microsoft-->
		<logger name="*" minlevel="Error" writeTo="errorFile" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole without writeTo -->

		<!-- the rest -->
		<logger name="Hallpass*" minlevel="Info" writeTo="hallpassFile" />
	</rules>
</nlog>